.question {
    font-size: 21px;
    color: #1b5dab;
    font-weight: 600;
}

.questions-statement {
    font-size: 24px;
    line-height: 27px;
    color: #080707;
    text-align: center;
    // margin-top: 81px;
}

.ctas {
    margin: 0 auto;
    display: block;
}
.cta1 {
    margin-left: auto;
    display: inline-block;
}

.cta2 {
    // margin-right: auto;
    display: inline-block;
}