$tablet: 768px;

.quiz {
    position: relative;

    .question {
        font-size: 21px;
        color: #1b5dab;
        font-weight: 600;
    }

    .quiz-content {
        max-width: 840px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
    }

    .ia-card {
        height: 354px;
    }

    .card-content {
        padding: 0 20px;
        margin-bottom: 10%;
    }

    .card-statement {
        align-self: center;
        font-size: 24px;
        color: #080707;
        margin-top: 48px;
        margin-bottom: 73px;
        // height: 108px;
    }

    .ctas {
        // margin: 0 auto;
        position: absolute;
        bottom: 32px;
        display: block;
        align-self:flex-end;
    }
    .cta1 {
        margin-right: 8px;
    }

    @media only screen and (min-width: $tablet) {
        .ctas {
            bottom: 95px;
        }
    }
}
