// Breakpoints
$mobile: 484px;
$tablet: 768px;
$desktop: 1024px;
$DEBUG: false;

html,
body {
  background-color: #fff;
}

.App {
  width: $mobile;
  margin: 0 auto;
  margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10%;

  @if $DEBUG {
    border: 1px solid red;
  }

  .app-title {
    color: #1b5dab;
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
  }

  .app-statement {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 43px;
  }

  .ia-card {
    margin-bottom: 10%;
    height: 274px;
  }
}

@media only screen and (min-width: $tablet) {
  .App {
    width: 768px; 
    
    @if $DEBUG {
      border-color: yellow;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .App {
    width: $desktop; 
    
    @if $DEBUG {
      border-color: green;
    }

  }
}