// Breakpoints
$mobile: 484px;
$tablet: 768px;
$desktop: 1024px;
$DEBUG: false;

html,
body {
  background-color: #fff;

}

.App {
  width: $mobile;
  margin: 0 auto;
  margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10%;
  padding: 36px;
  width: 100%;

  @if $DEBUG {
    border: 1px solid red;
  }

  .badge-text {
    font-size: 14px;
    font-weight: 300;
  }

  .app-badge {
    margin-left: 2%;
  }

.header-content {
  &--sub {
    display: flex;
  }
}


  .app-title {
    color: #1b5dab;
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 6px;
  }

  .app-statement {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 43px;
  }

  .ia-card {
    margin: 0 auto;
    margin-bottom: 10%;
    // height: 274px;
    max-width: 100%;
  }

  .card-statement {
    text-align: left;
    font-size: 24;
    line-height: 27px;
  }
}

@media only screen and (min-width: $tablet) {
  .App {
    width: 768px; 
    
    @if $DEBUG {
      border-color: yellow;
    }

    .card-statement {
      // text-align: center;
      line-height: 27px;
    }
  
  }
}

@media only screen and (min-width: $desktop) {
  .App {
    width: $desktop; 
    
    @if $DEBUG {
      border-color: green;
    }
    .card-statement {
      // text-align: center;
      line-height: 27px;
    }

  }
}